body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    background-color: darkgray;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
.results {
    padding: 8px;
}

.standout{
    color: red;
    font-weight: bolder;
    font-size: 1.5em;
    padding-top: 8px;
}
